{% extends 'base.html' %}

{% block head %}
    <title>Trackers</title>
{% endblock head %}

{% block body %}
<div class = "container">
    <h2>Add Trackers</h2>
    <form action = "\index" method = "POST">
      <div class="mb-3">
        <label for="tracker" class="form-label">Tracker</label>
        <input type="text" class="form-control" name="tracker" id="tracker" required>  
      </div>
      <div class="mb-3">
        <label style="padding-top: 10px" for="type">Tracker Type</label>
        <select style="width: 300px;border-radius: 15px; text-align: center" id="type" class="form-control" name="type" required="">
            <option value="Numerical">Numerical</option>
            <option value="Multiple Choice">Multiple Choice</option>
            <option value="Boolean">Boolean</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" id="desc">
      </div>
      <button type="submit" class="btn btn-dark">Add Tracker</button>
    </form>
  </div>
  
  <div class = "container my-3">
  {% if allTrackers|length == 0 %}
  <div class="alert alert-primary" role="alert">
      No trackers yet. Add a tracker now..
    </div>
  {% else %} 
      <h2>Your Trackers</h2>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">SNo</th>
              <th scope="col">Tracker</th>
              <th scope="col">Description</th>
              <th scope="col">Date&Time</th>
            </tr>
          </thead>
          
              {% for tracker in allTrackers %}
              <tbody>
              <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td><a href="/add_log_page/{{ tracker.sno }}"> {{ tracker.Tracker }}</a></td>
                  <td>{{ tracker.Description }}</td>
                  <td>{{ tracker.Last_modified }}</td>
                  <td><a href="/add_log_page/{{ tracker.sno }}" class="btn" style="border-radius: 15px; font-size: 20px">✚</a></td>
                  <td><a href="/Edit/{{ tracker.sno }}" type = "button" class ="btn  btn-outline-dark btn-sm mx-1" >Edit</button></td>
                  <td><a href="/Delete/{{ tracker.sno }}" type = "button" class ="btn  btn-outline-dark btn-sm mx-1" >Delete</button></td> 
                </tr>
              </tbody>
              {% endfor %}
            </table>
   {% endif %}
   
  </div>
  
{% endblock body %}